# navigation_charts.cfg
# {{ ansible_managed }}
{# can we see this #}  <--- this is the winner, it hid our text
## can we see this?



[darkmatter-nav]

star_system = {{ star }}

planet = {{ planet  }}

latitude = {{ lat }}

longitude = {{ long }}

